[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.1.0"
alembic = "==1.14.1"
sqlalchemy = "==2.0.36"
psycopg2-binary = "*"
python-dotenv = "==1.0.1"
flask-admin = "==1.6.1"
flask-sqlalchemy = "==3.1.1"
gunicorn = "==23.0.0"
requests = "==2.32.3"
pyopenssl = "==25.0.0"
flask-dance = "==7.1.0"
wtforms = "==3.1.2"
flask-login = "==0.6.3"
black = "==25.1.0"
pytest = "==8.3.4"
tox = "==4.24.1"
cryptography = ">=44.0.1"
pytest-postgresql = "==6.1.1"
pyairtable = "==3.0.1"
bs4 = "==0.0.2"
wtforms-sqlalchemy = "==0.4.2"
rq = "==2.2.0"
redis = "==5.2.1"
pyppeteer = "*"
flask-cors = "*"
werkzeug = "*"
google-auth-oauthlib = "*"

[dev-packages]

[requires]
python_version = "3.13"
