{% extends 'admin/model/create.html' %}

{% block tail_js %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='assets/js/modify_incident_fields.js') }}"></script>
{% endblock %}

{% block create_form %}
{% from "admin/macros.html" import file_upload_field %}
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/incident_form.css') }}">
<form action method="POST" class="admin-form form-horizontal custom-form" enctype="multipart/form-data">
    {% for field in form %}
        {% if field.name == 'related_links' %}
            <div id="related-links-container" class="control-group collapse">
                <label for="{{ field.id }}" class="control-label">{{ field.label.text }}</label>
                <div id="related-links" class="controls">
                    {% for subfield in field %}
                    {% if subfield.data %}
                        <div class="related-link">
                            {{ subfield(class="form-control", placeholder="Enter link", value=subfield.data.link) }}
                            <button type="button" class="remove-link" style="border: none; background: transparent;">&#10060;</button>
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <button type="button" id="add-link" class="btn btn-primary controls">Add Link</button>
            </div>
        {% elif field.name == 'supporting_materials' %}
            {{ file_upload_field(field, true) }}
        {% elif field.name == 'publish_details' %}
            <div class="control-group">
                <label for="{{ field.id }}">{{ field.label.text }}</label>
                <div class="controls">
                    {% for subfield in field %}
                    <div id="{{ subfield.id }}">
                        <label for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {{ subfield( value=subfield.data) }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% elif field.name == 'school_response' %}
            <div id="school-response-container" class="control-group">
                <label for="{{ field.id }}" class="control-label">{{ field.label.text }}</label>
                <div class="controls">
                    {% for subfield in field %}
                        {% if subfield.id == 'school_response-school_response_materials' %}
                            {{ file_upload_field(subfield, true) }}
                        {% else %}
                            <div id="{{ subfield.id }}">
                                <label for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                                {{ subfield( value=subfield.data ) }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

   
            </div>
        {% else %}
            {{ lib.render_field(form, field) }}
        {% endif %}
    {% endfor %}
    {{ lib.render_form_buttons(url_for("incident.index_view"), extra(), is_modal) }}
</form>
{% endblock %}

{% block tail %}
    {{ super() }}  {# Render the full default form #}

    <script>
    
    document.addEventListener("DOMContentLoaded", function() {
        let relatedLinksContainer = document.getElementById("related-links");
        let publishCheckbox = document.getElementById("publish_details-publish").querySelector("input");
        let publishStatus = document.getElementById("publish_details-publish_status");
        let publishPrivacy = document.getElementById("publish_details-publish_privacy");
        let schoolRespondedCheckbox = document.getElementById("school_responded");
        let fileInput = document.getElementById("supporting_materials");

        document.getElementById("add-link").addEventListener("click", function() {
            let input = document.createElement("input");
            input.type = "text";
            input.name = "related_links-" + relatedLinksContainer.children.length;
            input.classList.add("form-control");
            input.placeholder = "Enter link";

            let div = document.createElement("div");
            div.classList.add("related-link");
            div.appendChild(input);

            let removeButton = document.createElement("button");
            removeButton.type = "button";
            removeButton.classList.add("remove-link");
            removeButton.innerHTML = "&#10060;"; // Unicode for X
            removeButton.style.border = "none";
            removeButton.style.background = "transparent";
            removeButton.addEventListener("click", function() {
                relatedLinksContainer.removeChild(div);
            });

            div.appendChild(removeButton);
            relatedLinksContainer.appendChild(div);
        });

        document.querySelectorAll(".remove-link").forEach(btn => {
            btn.addEventListener("click", function() {
                this.parentElement.remove();
            });
        });

        document.querySelectorAll(".remove-material").forEach(btn => {
            btn.addEventListener("click", function() {
                let removedFilesInput = document.getElementById("removed_supporting_materials");
                let removedFiles = removedFilesInput.value ? removedFilesInput.value.split(",") : [];
                let url = this.closest(".supporting_materials").querySelector("img, embed").getAttribute("src")
                removedFiles.push(url);
                removedFilesInput.value = removedFiles;
                this.parentElement.remove();
            });
        });

        function togglePublishFields() {
            if (publishCheckbox.checked) {
                publishStatus.hidden = true;  // Hide Status
                publishPrivacy.hidden = false; // Show Privacy
            } else {
                publishStatus.hidden = false;  // Show Status
                publishPrivacy.hidden = true; // Hide Privacy
            }
        }
        function toggleSchoolResponseFields() {
            let schoolResponseContainer = document.getElementById("school-response-container");
            if (schoolRespondedCheckbox.checked) {
                schoolResponseContainer.hidden = false;  // Hide details
            } else {
                schoolResponseContainer.hidden = true;  // Show details
            }
        }

        // Run on page load
        togglePublishFields();
        toggleSchoolResponseFields();

        // Add event listeners
        publishCheckbox.addEventListener("change", togglePublishFields);
        schoolRespondedCheckbox.addEventListener("change", toggleSchoolResponseFields);

        let existingFiles = [];
        if (fileInput && fileInput.dataset && fileInput.dataset.existingFiles) {
            existingFiles = fileInput.dataset.existingFiles.split(",");
        }
        
        existingFiles.forEach((fileUrl, ind) => {
            if (ind === 0) {
                let initalInput = document.getElementById("supporting_materials");
                initalInput.value = fileUrl.trim();
                initalInput.dispatchEvent(new Event("input", { bubbles: true }));
            }
        });
    });
    </script>
{% endblock %}
