{% macro file_upload_field(field, multiple, subfield, env) %}
  <div class="control-group">
    <label class="{{ '' if subfield else 'control-label' }}" for="{{ field.id }}">{{ field.label.text }}</label>
    {# Display existing images #}
    {% if multiple %}
    <div class="{{ field.id }}" class="controls" style="display: flex; flex-wrap: wrap; gap: 5px;">
      {% for data in field.data | select %}
          {% if data.url.endswith('.pdf') %}
            <embed src="{{ data.url }}" width="200" type="application/pdf"/>
          {% else %}
            <img src="{{ data.url }}" width="200"/>
          {% endif %}
          <button type="button" class="remove-material" style="border: none; background: transparent; position: absolute;">&#10060;</button>
      {% endfor %}
    </div>
    {% else %}
      {% if field.data %}
      <div class="{{ field.id }}" class="controls" style="display: flex; align-items: flex-start;">
        <img src="{{ field.data }}" width="200"/>
        <button type="button" class="remove-material" style="border: none; background: transparent; position: absolute;">&#10060;</button>
      </div>
      {% endif %}
    {% endif %}
    <div>
        <input id="{{field.id}}[]" name="{{field.id}}[]" class="simple-file-upload form-control" type="hidden" data-tag="{{ env }}-{{field.id}}" data-multiple="{{ 'true' if multiple else 'false' }}" data-max-files="10" data-remove-links="true" data-button-color="#017bf8" data-button-size= "btn-sm" data-maxFileSize="5" data-id="widget0">
    </div>
    <!-- Hidden input to track removed files -->
    <input type="hidden" id="removed_{{field.id}}" name="removed_{{field.id}}">
  </div>
{% endmacro %}

{% macro header() %}
<nav class="navbar navbar-top navbar-expand-sm navbar-dark bg-white border-bottom">
  <div class="container-fluid">
      <a class="navbar-brand" href="/">
          <img src="/static/assets/brand/icon.png" width="50" alt="Stop Hate in Schools - Logo">
      </a>
      <div class="navbar-content">
        {% if caller %}
          {{ caller() }}
        {% endif %}
      </div>
  </div>
</nav>
{% endmacro %}
