<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Manage Data</title>
    <script>
      function checkJobStatus(jobId) {
        var interval = setInterval(function() {
            fetch(`/admin/manage_data/job-status/${jobId}`)
                .then(response => response.json())
                .then(data => {
                    if (data.status === "finished") {
                      alert(data.alertMessage)
                      clearInterval(interval);  // Stop checking
                    }
                })
                .catch(error => {
                  console.error("Error checking job status:", error)
                });
        }, 1000);  // Check every second
        }

      function uploadFile(event) {
        event.preventDefault();
        var formData = new FormData();
        formData.append("upload_file", document.getElementById("fileInput").files[0]);

        fetch("/admin/manage_data/upload", {
          method: "POST",
          body: formData
        })
        .then(response => response.json())
        .then(data => {
          alert("Data is loading! Press 'OK' and wait for completion alert - this may take up to 60 seconds");
          // Get the job ID and start checking the status
          checkJobStatus(data.job_id);
        })
        .catch(error => console.error("Error uploading file:", error));
      }

      function fetchData(event) {
        event.preventDefault();
        fetch("/admin/manage_data/fetch", {
          method: "POST",
        })
        .then(response => response.json())
        .then(data => {
          alert("Data is loading! Press 'OK' and wait for completion alert - this may take up to 60 seconds");
          // Get the job ID and start checking the status
          checkJobStatus(data.job_id);
        })
        .catch(error => console.error("Error fetching data:", error));
      }

      function syncData(event) {
        event.preventDefault();
        var formData = new FormData();
        formData.append("region", document.getElementById("region").value);
        formData.append("table", document.getElementById("table").value);

        fetch("/admin/manage_data/sync", {
          method: "POST",
          body: formData
        })
        .then(response => response.json())
        .then(data => {
          alert("Data is loading! Press 'OK' and wait for completion alert - this may take up to 60 seconds");
          // Get the job ID and start checking the status
          checkJobStatus(data.job_id);
        })
        .catch(error => console.error("Error syncing data:", error));
      }

    </script>
  </head>
  <body>
    <h1>Manage Data</h1>
    <h2>Upload from NCES File</h2>
    <form method="POST" enctype="multipart/form-data" onsubmit=uploadFile(event)>
      <input type="file" id="fileInput" name="upload_file" accept=".xls" required>
      <button type="submit">Upload</button>
    </form>
    <form method="POST" enctype="multipart/form-data" onsubmit=fetchData(event)>
      <button type="submit">NCES fetch</button>
    </form>
    <h2>Sync from Airtable</h2>
    <form method="POST" enctype="multipart/form-data" onsubmit=syncData(event)>
      <label for="region">Choose a region:</label>
      <select name="region" id="region" required>
        <option value="WA">WA</option>
        <option value="MI">MI</option>
        <option value="CA">CA</option>
        <option value="NATIONAL">National</option>
      </select>
      <label for="table">Select a table:</label>
      <select name="table" id="table" required>
        <option value="District-Table">District</option>
        <option value="School-Table">School</option>
        <option value="Incident-Table">Incident</option>
      </select>
      <button type="submit">Sync</button>
    </form>
  </body>
</html>